
div.reports-wrapper{
    width: 100%;
    height: 100%;
    margin-top: 32px;

    mat-card{

        ::ng-deep .mat-card-header-text {
            margin: 0;
        }
    
        mat-card-header.reports-filters-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 24px;
            
            div.reports-title-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                
                mat-icon{
                    padding: 16px;
                }
            }
        
            form.reports-form-wrapper{
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                border: 1px solid #80808052;
                border-radius: 8px;
                padding: 16px 12px;

                mat-form-field{
                    margin-right: 16px;
                    
                    &:first-child{
                        margin-right: 22px;
                    }

                    &#search-filter-field{
                        width: 280px;
                    }
                }
    
                button{
                    display: flex;
                    font-size: 12pt;
                    justify-content: center;
                    align-items: center;
                    height: 42px;
                }
    
                #search-btn{
                    width: 200px;
                }
        
                #export-btn{
                    margin-left: auto;
                }
            }
        }
    
        mat-card-content{
            
            ag-grid-angular{
                height: 700px;
            }
        }

        mat-card-footer{
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }
}
