@use './normalize';

@use "@angular/material" as mat;

@include mat.core();

$pm-light-primary-palette: (
    50: #eaeef3,
    100: #cad6e0,
    200: #a7bacc,
    300: #849eb7,
    400: #698aa7,
    500: #7cabe4,
    600: #486d90,
    700: #3f6285,
    800: #36587b,
    900: #26456a,
    A100: #add1ff,
    A200: #7ab5ff,
    A400: #4798ff,
    A700: #2e8aff,
    contrast: (
      50:   #7cabe4,
      100: #7cabe4,
      200: #7cabe4,
      300: #7cabe4,
      400: #7cabe4,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: #7cabe4,
      A200: #7cabe4,
      A400: #7cabe4,
      A700: white,
    )
);

$pm-light-accent-palette: (
    50: #eaeef3,
    100: #cad6e0,
    200: #a7bacc,
    300: #849eb7,
    400: #698aa7,
    500: green,
    600: #486d90,
    700: #3f6285,
    800: #36587b,
    900: #26456a,
    A100: #add1ff,
    A200: rgb(50, 168, 82),
    A400: green,
    A700: green,
    contrast: (
      50:   white,
      100: white,
      200: white,
      300: white,
      400: white,
      500: green,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: white,
      A200: white,
      A400: #7cabe4,
      A700: white,
    )
);

$pm-dark-primary-palette: (
    50: #eaeef3,
    100: #cad6e0,
    200: #a7bacc,
    300: #849eb7,
    400: #698aa7,
    500: #7cabe4,
    600: #486d90,
    700: #3f6285,
    800: #36587b,
    900: #26456a,
    A100: #add1ff,
    A200: #7ab5ff,
    A400: #4798ff,
    A700: #2e8aff,
    contrast: (
      50:   #7cabe4,
      100: #7cabe4,
      200: #7cabe4,
      300: #7cabe4,
      400: #7cabe4,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: #7cabe4,
      A200: #7cabe4,
      A400: #7cabe4,
      A700: white,
    )
);

$pm-dark-accent-palette: (
    50: #eaeef3,
    100: #cad6e0,
    200: #a7bacc,
    300: #849eb7,
    400: #698aa7,
    500: green,
    600: #486d90,
    700: #3f6285,
    800: #36587b,
    900: #26456a,
    A100: #add1ff,
    A200: blue,
    A400: green,
    A700: green,
    contrast: (
      50:   white,
      100: white,
      200: white,
      300: white,
      400: white,
      500: green,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: white,
      A200: white,
      A400: #7cabe4,
      A700: white,
    )
);

.mat-button-base{
  min-width: unset!important;
}



.theme-default {
  $my-app-primary: mat.define-palette($pm-light-primary-palette);
  $my-app-accent:  mat.define-palette($pm-light-accent-palette, A200, A100, A400);
  $my-app-warn:    mat.define-palette(mat.$red-palette);
  $my-app-theme-light: mat.define-light-theme(
    (
      color: (
        primary: $my-app-primary,
        accent:  $my-app-accent,
        warn:    $my-app-warn,
      ),
    )
  );  
  @include mat.all-component-themes($my-app-theme-light);
}

.theme-dark {
  $my-app-primary: mat.define-palette($pm-dark-primary-palette);
  $my-app-accent:  mat.define-palette($pm-dark-accent-palette, A200, A100, A400);
  $my-app-warn:    mat.define-palette(mat.$red-palette);
  $my-app-theme-dark: mat.define-light-theme(
    (
      color: (
        primary: $my-app-primary,
        accent:  $my-app-accent,
        warn:    $my-app-warn,
      ),
    )
  );  
  @include mat.all-component-themes($my-app-theme-dark);
}

mat-form-field {

  & .mat-form-field-appearance-outline .mat-form-field-outline {
    color: blue;
  }

  &:not(.mat-paginator-page-size-select){
    font-size: 14px !important; 

    .mat-form-field-wrapper{
      padding: 0 !important;

    }
  }
}