<div class="dashboard-wrapper">

    <div class="dashboard-options-row">

    </div>

    <div class="dashboard-visual-row">


        <div class="dashboard-col-1">

            <mat-card>

                <mat-card-title>
                    Test
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>
        
            <mat-card>
    
                <mat-card-title>
                    Test 1 
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>

        </div>
        
        <div class="dashboard-col-2">

            <mat-card>

                <mat-card-title>
                    Test 2
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>
    
            <mat-card>
    
                <mat-card-title>
                    Test 3
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>

        </div>


        <div class="dashboard-chart-row-1-2">

            <mat-card>
        
                <mat-card-title>
                    Chart 1 
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>
    
        </div>

        <div class="dashboard-chart-row-2-col-1">

            <mat-card>
        
                <mat-card-title>
                    Chart 2 
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>

        </div>

        <div class="dashboard-chart-row-2-col-2">

            <mat-card>
        
                <mat-card-title>
                    Chart 3
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>
            
        </div>

        <div class="dashboard-chart-row-3-col-1-2">

            <mat-card>
        
                <mat-card-title>
                    Chart 4
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>
            
        </div>

        <div class="dashboard-chart-row-3-col-3">

            <mat-card>
        
                <mat-card-title>
                    Chart 5
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>
            
        </div>

    </div>
</div>