<div class="dashboard-wrapper">

    <div class="dashboard-visual-row">

        <div class="dashboard-col-1">

            <app-stat-card id="occupancy-stat-card" statIcon="local_parking" statInfo="" backgroundColor="#589dfc">

                <ng-container stat="header">

                    Slot Occupancy

                </ng-container>

                <ng-container stat="subheader">
                    
                    <i>Stat for:</i><b> Today</b>
               
                </ng-container>

                <ng-container stat="body">

                    <ng-container *ngTemplateOutlet="occupancyMode1Content"></ng-container>

                    <ng-template #occupancyMode1Content>

                        <span>{{dashboard.occupancy.free}} / {{dashboard.occupancy.total}}</span>

                    </ng-template>

                    <ng-template #occupancyMode2Content>

                        <span>{{dashboard.occupancy.perc}} %</span>

                    </ng-template>
               
                </ng-container>

                <ng-container stat="footer">

               
                </ng-container>

            </app-stat-card>

        
            <app-stat-card id="traffic-stat-card" statIcon="directions_car" backgroundColor="#9954f0">

                <ng-container stat="header">

                    Lot Traffic (In)

                </ng-container>

                <ng-container stat="subheader">
                    
                    <i>Stat for:</i><b> Today</b>
               
                </ng-container>

                <ng-container stat="body">

                    <span>22</span>
               
                </ng-container>

                <ng-container stat="footer">

               
                </ng-container>

            </app-stat-card>

        </div>
        
        <div class="dashboard-col-2">

            <app-stat-card id="stay-stat-card" statIcon="access_time" statInfo="Average Vehicle Stay." backgroundColor="#9477ff">

                <ng-container stat="header">

                    Stay Time (Avg)

                </ng-container>

                <ng-container stat="subheader">
                    
                    <i>Stat for:</i><b> Today</b>
               
                </ng-container>

                <ng-container stat="body">

                    <span>22 Hours</span>
               
                </ng-container>

                <ng-container stat="footer">

               
                </ng-container>

            </app-stat-card>

            <app-stat-card id="profit-stat-card" statIcon="attach_money" statInfo="Total Profit Made." backgroundColor="#88d29f">

                <ng-container stat="header">

                    Profit (in $)

                </ng-container>

                <ng-container stat="subheader">
                    
                    <i>Stat for:</i><b> Today</b>
               
                </ng-container>

                <ng-container stat="body">

                    <span>123.53</span>
               
                </ng-container>

                <ng-container stat="footer">

               
                </ng-container>

            </app-stat-card>

        </div>


        <div class="dashboard-chart-row-1-2">

            <mat-card>
        
                <mat-card-title>
                    Chart 1 
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>
    
        </div>

        <div class="dashboard-chart-row-2-col-1">

            <mat-card>
        
                <mat-card-title>
                    Chart 2 
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>

        </div>

        <div class="dashboard-chart-row-2-col-2">

            <mat-card>
        
                <mat-card-title>
                    Chart 3
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>
            
        </div>

        <div class="dashboard-chart-row-3-col-1-2">

            <mat-card>
        
                <mat-card-title>
                    Chart 4
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>
            
        </div>

        <div class="dashboard-chart-row-3-col-3">

            <mat-card>
        
                <mat-card-title>
                    Chart 5
                </mat-card-title>
                
                <mat-card-content>
        
                </mat-card-content>
        
            </mat-card>
            
        </div>

    </div>
</div>