.dashboard-wrapper{
    width: 100%;
    height: 100%;

    mat-card{
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .dashboard-visual-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 286px 1fr;
        column-gap: 22px;
        row-gap: 22px;
        padding-top: 22px;


        .dashboard-col-1{
            display: inline-flex;
            grid-row: 1;
            grid-column: 1;
            
            app-stat-card:last-of-type{
                margin-left: 1em;
            }
        }

        .dashboard-col-2{
            display: inline-flex;
            grid-row: 1;
            grid-column: 2;
            
            app-stat-card:last-of-type{
                margin-left: 1em;
            }
        }

        .dashboard-chart-row-1-2{
            min-width: 400px;
            height: 100%;
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column: 3;

            mat-card{
                height: 100%;
                padding: 0;

                mat-card-content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    
                    ag-grid-angular{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .dashboard-chart-row-2-col-1{
            grid-column: 1;
        }

        .dashboard-chart-row-2-col-2{
            grid-column: 2;
        }

        .dashboard-chart-row-3-col-1-2{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 3;
        }

        .dashboard-chart-row-3-col-3{
            grid-column: 3;
            grid-row: 3;
        }
    }
}

@keyframes cardHover { 
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.015);
        box-shadow: 2px 2px 20px 0px #0000003b;
    }
}